*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-color:  skyblue;
}
.box1{
    width: 300px;
    margin-left: 500px;
    margin-top: 50px;
    border-radius: 10px;
    /* border: 1px solid blue; */
    /* text-align: center; */
    overflow: hidden;
    position: relative;
}
.box1 img{
    width: 300px;
    height: 300px;
    /* border-radius: 10px; */

}
.hidden{
    position: absolute;
    /* border: 1px solid black; */
    background-color: white;
    color: black;
    left: 0;
    bottom: -127px;
    width: 100%;
    /* padding: 0 1rem; */
    transition: .5s ease-in-out;
    

}
.box1:hover .hidden{
    bottom: 0;
}
.color-div{

    margin-left: 15px;
}
.one{
    width: 25px;
    height: 25px;
    background-color: yellow;
    margin: 2px;
}
.two{
    width: 25px;
    height: 25px;
    background-color: brown;
    margin: 2px;

}
.three{
    width: 25px;
    height: 25px;
    background-color: green;
    margin: 2px;

}
.four{
    width: 25px;
    height: 25px;
    background-color: pink;
    margin: 2px;



}
.five{
    width: 25px;
    height: 25px;
    background-color: skyblue;
    margin: 2px;

}
.color-div{
    display: flex;
   

}
button{
    background-color: black;
    color: white;
    width: 250px;
    height: 25px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 15px;
    border-radius: 5px;

}
.m-div{
    color: white;
    background-color: green;
}