*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color:  skyblue;
}
h3{

    margin-top: 5px;
}
.span1{
    margin-left: 25px;


}
.span2{
    margin-left: 42px;
}

.box1{
    width: 300px;
    margin-left: 500px;
    margin-top: 50px;
    border-radius: 10px;
    /* border: 1px solid blue; */
    /* text-align: center; */
    overflow: hidden;
    position: relative;
}
.box1 img{
    width: 300px;
    height: 370px;
    /* border-radius: 10px; */

}
.hidden{
    position: absolute;
    /* border: 1px solid black; */
    background-color: white;
    color: black;
    left: 0;
    bottom: -182px;
    width: 100%;
    /* padding: 0 1rem; */
    transition: .5s ease-in-out;
    

}
.box1:hover .hidden{
    bottom: 0;
}
.color-div{

    margin-left: 25px;
}
.color{

    width: 25px;
    height: 25px;
    margin: 2px;
}
.one{
   
    background-color: yellow;
    
}
.two{
    
    background-color: brown;
    

}
.three{
  
    background-color: green;


}
.four{
   
    background-color: pink;




}
.five{
    
    background-color: skyblue;
   

}
.color-div{
    display: flex;
   

}
button{
    background-color: black;
    color: white;
    width: 250px;
    height: 25px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 25px;
    border-radius: 5px;

}
.m-div{
    padding: 5px;
    color: white;
    background-color: green;
}
.pera1{
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.span3{
   
    
}
.main-span{
    margin-left: 25px;
}
.color-p{
    color: gray;
    padding-bottom: 10px;
    font-size: 15px;
}
.pera2{
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
}